<div class="container">
  <a href="/account/newCategory">Новые категории</a>
  <a href="/account/newTransaction">Новая транзакция</a>
  <a href="/account/allTransaction">Все траты</a>
  <a href="/account/logout">Выйти из аккаунта</a>
</div>

<h2>{{user.login}}</h2>
<h2>{{user.email}}</h2>
<h2>Мои финансы: {{user.allAmount}}</h2>
<h2>Мои расходы: {{user.allSpending}}</h2>


{{#each user.scoreArray}}
<a href="/account/score/{{this.index}}">{{this.score}}:</a>
<span>{{this.amount}}</span>
{{/each}}
<br>
<br>
<br>
<br>
{{#each user.categoriesArray}}
<a href="/account/score/{{this.index}}">{{this.categories}}:</a>
<span>{{this.amount}}</span>
{{/each}}
