<div class="allSpending">
  <h1>Все транзакции</h1>
  <br>
  {{#each user.spendingArray}}
  <div class="spending">
    <p>Откуда: {{this.from}}</p>
    <p>Куда: {{this.to}}</p>
    <p>Сумма: {{this.amount}}</p>
    <p>Комментарий: {{this.comment}}</p>
    <p>Дата: {{this.date}}</p>
  </div>
  <br>
  {{/each}}
</div>
